$color-charcoal: #090C13;
$color-slate: #2D2D2D;
$color-block-dark: #3B3B3B;

$color-white: #ffffff;
$color-sand: #FFDF90;

$color-primary-blue: #1A73E8;

$color-teal: #009379;
$color-coral: #FF6250;
$color-peach: #F2BFAF;
$color-gold-light: #F8D57E;



$color-sand-hover: #f8c95c;   // более насыщенный золотистый
$color-white-hover: #E8E8E8;  // мягкий светло-серый
$color-teal-hover: #00BFA5;   // яркий аквамарин
$color-coral-hover: #FF7A66;  // чуть светлее коралла
$color-peach-hover: #facfc0;  // нежный розово-персиковый
$color-gold-hover: #fcd665;   // яркий солнечный золотой

@font-face{
    font-family: "Mulish-Regular";
    src: url('../fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Poppins-Bold";
    src: url('../fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: "Poppins-SemiBold";
    src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}