.header {
    padding-block: 20px;

    &__container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    &__list {
        @include flex-center;
    }

    &__link {
        @include font-poppins-semibold;
        font-size: 16px;
        margin-right: 32px;
        &:hover{
            color: $color-white-hover;
        }
    }
}

.hero-section{
    //height: 410px;
    //min-height: 410px;
    display: flex;
    align-items: center;
    padding: clamp(3.75rem, 1.45rem + 6.4vw, 6.25rem) 0 60px 0;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__top-wrapper{
        margin-bottom: 40px;
    }
    &__title{
        @include font-poppins-bold;
        font-size: clamp(1.688rem, -0.612rem + 6.4vw, 4.188rem);
        line-height: 130%;
    }
    &__subtitle{
        text-align: center;
        font-size: clamp(0.875rem, 0.128rem + 2.08vw, 1.688rem);
    }
    &__bottom-wrapper{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

.preview-section{
    &__container{
        @include flex-center;
        height: 100%;
    }
    &__game-illustration{
        height: auto;
        width: clamp(29.25rem, -5.55rem + 102.4vw, 71.25rem);
    }
}

.features-section{
    padding-block: clamp(3.75rem, 1.45rem + 6.4vw, 6.25rem);
    &__header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        @include font-poppins-bold;
        font-size: clamp(1.5rem, 0.695rem + 2.24vw, 2.375rem);
        line-height: 130%;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: clamp(0.813rem, 0.64rem + 0.48vw, 1rem);
        line-height: 130%;
        margin-bottom: 50px;
    }
    &__content-container{
        display: flex;
        justify-content: space-around;
    }
}


.customization-section{
    
    &__title{
        font-size: clamp(1.5rem, 0.695rem + 2.24vw, 2.375rem);
        @include font-poppins-bold;
        line-height: 130%;
        margin-bottom: 20px;
        color: $color-slate;
    }
    &__subtitle{
        font-size: 21px;
        margin-bottom: 40px;
        color: $color-slate;
    }
    &__content-container{
        margin-inline: auto;
        background-color: $color-sand;
        display: flex;
        justify-content: space-around;
        width: clamp(31.25rem, -5.55rem + 102.4vw, 71.25rem);
        padding: clamp(3.75rem, 2.6rem + 3.2vw, 5rem) 40px;
        border-radius: 16px;
    }
    &__advice-container{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}

.worlds-section{
    padding-block: 100px;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        font-size: clamp(1.5rem, 0.695rem + 2.24vw, 2.375rem);
        @include font-poppins-bold;
        line-height: 130%;
        margin-bottom: 20px;
    }
    &__subtitle{
        font-size: 16px;
        margin-bottom: 60px;
        text-align: center;
    }
    &__box-container{
        display: flex;
        gap: 30px;
    }
}

.footer{
    padding-block: 25px;
    &__copyright{
        font-size: 14px;
    }
    &__icon-box{
        display: flex;
        gap: 16px;
    }
    &__icon{
        transition: all 1s ease-in-out 0; 
        &:hover{
            transform: scale(1.05);
        }
    }
    &__container{
        display: flex;
        justify-content: space-between;
    }
}